<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xuexin.wangshen.dao.UserManagmentDAO">

	<!-- 添加用户信息 -->
	<insert id="saveUser" parameterType="com.xuexin.wangshen.model.pojo.UserInfoDO" 
			statementType="PREPARED" useGeneratedKeys="true" keyProperty="nUID">
		INSERT INTO users
		(
		  un_uid
		 ,c_username
		 ,c_mobilenumder
		 ,c_passhash
		 ,dtime_registertime
		 ,dtime_lastmodified
		 ,bi_deleteflag
		)
		VALUES
		(
		  #{nUID} -- un_uid - INT(11) NOT NULL
		 ,#{strUsername} -- c_username - CHAR(20)
		 ,#{strMobileNum} -- c_mobilenumder - CHAR(20)
		 ,#{strPassHash} -- c_passhash - VARCHAR(255) NOT NULL
		 ,NOW() -- dtime_registertime - DATETIME NOT NULL
		 ,NOW() -- dtime_lastmodified - DATETIME NOT NULL
		 ,0 -- bi_deleteflag - BIT(1) NOT NULL
		);
	</insert>
	
	<!-- 获取用户计数，通过手机号 -->
	<select id="countUserByPhoneNumber" resultType="java.lang.Integer" 
			parameterType="java.lang.String" statementType="PREPARED">
		SELECT COUNT(*) FROM users 
						WHERE c_mobilenumder = #{value} 
						AND bi_deleteflag = 0;
	</select>
	
	<!-- 获取用户信息，通过号码和密码 -->
	<resultMap id="RM_UserInfo" type="com.xuexin.wangshen.model.pojo.UserInfoDO">
		<result column="un_uid" property="nUID" jdbcType="INTEGER" />
		<result column="c_username" property="strUsername" jdbcType="CHAR" />
		<result column="c_mobilenumder" property="strMobileNum" jdbcType="CHAR" />
		<result column="c_passhash" property="strPassHash" jdbcType="VARCHAR" />
		<result column="dtime_registertime" property="tsRegisterTime" jdbcType="TIMESTAMP" />
		<result column="dtime_lastmodified" property="tsLastModifiedTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="getUserInfoByPhoneAndPass" resultMap="RM_UserInfo" statementType="PREPARED">
		SELECT
			  un_uid,
			  c_username,
			  c_mobilenumder,
			  c_passhash,
			  dtime_registertime,
			  dtime_lastmodified
			FROM users
			WHERE bi_deleteflag = 0 
			AND c_mobilenumder = #{strPhone} 
			AND c_passhash = #{strPass};
	</select>
	
	<!-- 获取用户信息，通过用户名密码，用于管理员登陆 -->
	<select id="getAdminInfoByUserAndPass" resultMap="RM_UserInfo" statementType="PREPARED">
		SELECT
			  un_uid,
			  c_username,
			  c_mobilenumder,
			  c_passhash,
			  dtime_registertime,
			  dtime_lastmodified
			FROM users
			WHERE bi_deleteflag = 0 
			AND c_username = #{strUsername} 
			AND c_passhash = #{strPass};
	</select>
	
	<!-- 密码修改 -->
	<update id="updatePasswordByUserID" parameterType="com.xuexin.wangshen.model.pojo.UserInfoDO" 
			statementType="PREPARED">
		UPDATE users 
		SET
		  c_passhash = #{strPassHash} -- c_passhash - VARCHAR(255) NOT NULL
		 ,dtime_lastmodified = NOW() -- dtime_lastmodified - DATETIME NOT NULL
		WHERE
		  un_uid = #{nUID}
		;
	</update>
	
	<!-- 通过用户手机号获取用户id -->
	<select id="getUserIDByMobileNumber" resultType="java.lang.Integer" parameterType="java.lang.String" statementType="PREPARED">
		SELECT
			  un_uid
		FROM users
		WHERE bi_deleteflag = 0 
		AND c_mobilenumder = #{value} ;
	</select>

</mapper>